body {
	background: #000;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin transition($property) {
  -webkit-transition: $property;
  -ms-transition: $property;
  transition: $property;
}

@mixin transition-duration($property) {
  -webkit-transition-duration: $property;
  -ms-transition-duration: $property;
  transition-duration: $property;
}

@mixin transition-property($property) {
  -webkit-transition-property: $property;
  -ms-transition-property: $property;
  transition-property: $property;
}

%inner-wrapper {
	width: 1020px;
	margin: 0 auto;
}

%burger {
	display: block;
	content: "";
	width: 35px;
	height: 3px;
	background-color: #0080FF;
}

.header {	

	.inner-container {
		@extend %inner-wrapper;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 100px;
		border: 1px solid #FF00FF;
		padding: 20px;
		background-color: #000;
		box-sizing: border-box;
		position: relative;
		z-index: 2;

		.burger-btn {
			width: 35px;
			height: 25px;
			cursor: pointer;
			position: relative;

			&:hover {
				opacity: 0.7;
			}

			&-component {
				@extend %burger;

				&::before,
				&::after {
					@extend %burger;
					position: absolute;
					left: 0;
					top: 11px;
				}

				&::after {
					top: 22px;
				}
		
			}
		}

		.nav-header {
			visibility: hidden;
			position: absolute;
			z-index: 1;
			right: 0;
			top: -290px;
			@include transition-duration(2.5s);
			@include transition-property(top);
			display: flex;
			flex-direction: column;

			border: 1px solid #FF00FF;
			width: 200px;
			padding: 20px;
			box-sizing: border-box;

			.btn-close {
				width: 24px;
				height: 30px;
				align-self: flex-end;
				margin-bottom: 10px;
				cursor: pointer;

				&:hover {
					opacity: 0.7;
				}

				&-component {
					@extend %burger;
					@include transform(rotate(45deg));
					transform-origin: top left;

					&::after {
						@extend %burger;
						position: absolute;
						top: 0;
						left: 0;
						@include transform(rotate(-90deg));	
					}

				}
			}


			.nav-list {
				height: 350px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;

				&-item {
					width: 100%;
				}

				&-item-link {
					display: block;
					width: 100%;
					height: 100px;
					border: 1px solid #00FF7F; 
					box-sizing: border-box;
				}

				&-item-link:hover {
					border: 1px solid #fff;
					box-shadow:  0 0 3px 2px #fff;
					@include transition(0.5s);
				}

				.second-item {
					border: 1px solid #FF4500; 
				}

				.third-item {
					border: 1px solid #FFFF00; 
				}
			}
		}
	}
}

.header.menu-open {

	.nav-header {
		visibility: visible;
		top: 120px;
	}
}
